@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

/* 기본 폰트 설정 */
body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -5px auto auto auto;
}

/* 페이지 전환 애니메이션 */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.page-transition {
    animation: fadeIn 1s ease-in-out;
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 380px;
    padding: 20px;
    position: relative;
    top: 190px;
}

.logo img {
    width: 100%;
    display: flex;
    margin-bottom: 70px;
    margin-left: 3px;
}

.email-form input {
    display: block;
    border: none;
    border-bottom: 1px solid rgba(115, 115, 115, 0.3);
    color: #808080;
    padding: 7px 3px;
    margin: 40px 0 40px;
    width: 100%;
    outline: none;
}

input::placeholder {
    color: #cecece;
    opacity: 5;
}

input::-webkit-input-placeholder{
    color: #cecece;
}

input:-ms-input-placeholder{
    color: #cecece;
}

.email-form button {
    width: 100%;
    padding: 7px;
    margin: 32px 0;
    border: 1px solid #b0b0b0;
    cursor: pointer;
    background-color: #000000;
    color: #e5e5e5;
    font-size: 13px;
}

.email-form button:hover {
    background-color: #f3f3f3;
    color: #818181;
}

.email-form span {
    display: flex;
    color: #818181;
    font-size: 13px;
    float: left;
    margin: 30px auto auto auto;

}

.find-email span {
    display: flex;
    color: #000000;
    font-size: 15px;
    float: left;
    margin: auto auto 5px auto;
}