<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 회원가입</title>
  <link rel="stylesheet" type="text/css" href="/css/signup.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
  <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"/>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body>
<div th:insert="header :: header-content"></div>

<div class="page-transition">
<div class="container">
  <div class="signup-logo">
    <img src="/images/codyus.png" alt="CodyUsLogo">
  </div>

  <form id="signup-form" method="post">
    <span>이메일</span>
    <input id="email" name="email" type="text" placeholder="ex) codyus@email.com">
    <span>비밀번호</span>
    <input id="password" name="password" type="password" placeholder="ex) 영문, 숫자, 특수문자 포함 8~16자">
    <span>비밀번호 확인</span>
    <input id="checkPassword" name="checkPassword" type="password" placeholder="비밀번호 재입력">
    <span>닉네임</span>
    <input id="nickname" name="nickname" type="text" placeholder="닉네임을 입력해 주세요.">
    <span>AdminToken</span>
    <input id="adminToken" name="adminToken" type="text" placeholder="관리자 토큰을 입력해 주세요.">
    <div class="button-container">
      <button type="submit">회원가입</button>
    </div>
  </form>
</div>
</div>

<div th:insert="footer :: footer-content"></div>
<script src="/js/admin-signup.js"></script>
<script src="/js/header.js"></script>
</body>
</html>
