<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" type="text/css" href="/css/find-password.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <style>

    </style>
</head>
<body>
<!--<div th:insert="header :: header-content"></div>-->

<div class="page-transition">
<div class="container">
    <div class="logo">
        <img src="https://blog.kakaocdn.net/dn/bUc9Tm/btsIScKh0Zv/6aeidAbRZ9xRa2lNY9gEK1/img.png" alt="CodyUsLogo">
    </div>
    <div class="find-email">
        <span>가입 시 등록한 이메일을 입력하세요.</span>
        <span>이메일로 임시 비밀번호를 전송해 드립니다.</span>
    </div>
    <form class="email-form">
        <br><br><br><span>이메일</span>
        <input type="email" placeholder="ex) codyus@email.com" required>
        <button type="submit">임시 비밀번호 발송하기</button>
    </form>
</div>
</div>
<!--<div th:insert="footer :: footer-content"></div>-->

<script src="/js/postDetail.js"></script>
<script src="/js/header.js"></script>
<script src="/js/basic.js"></script>

</body>
</html>
