<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/shop.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script src="https://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
</head>
<body>
<div th:insert="header :: header-content"></div>

<div class="container">
    <div class="category-title">TOPS</div>
    <div class="category_sub_title">상의</div>
    <div class="product-container" id="TOPS">
    </div>

    <div class="pagination" id="TOPS-pagination">
        <button class="prev-page" onclick="changePage('TOPS', currentPage['TOPS'] - 1)">이전</button>
        <span id="TOPS-page-numbers"></span>
        <button class="next-page" onclick="changePage('TOPS', currentPage['TOPS'] + 1)">다음</button>
    </div>

    <div class="category-title">BOTTOMS</div>
    <div class="category_sub_title">하의</div>
    <div class="product-container" id="BOTTOMS">
    </div>

    <div class="pagination" id="BOTTOMS-pagination">
        <button class="prev-page" onclick="changePage('BOTTOMS', currentPage['BOTTOMS'] - 1)">이전</button>
        <span id="BOTTOMS-page-numbers"></span>
        <button class="next-page" onclick="changePage('BOTTOMS', currentPage['BOTTOMS'] + 1)">다음</button>
    </div>

    <div class="category-title">DRESS</div>
    <div class="category_sub_title">상의</div>
    <div class="product-container" id="DRESS">
    </div>

    <div class="pagination" id="DRESS-pagination">
        <button class="prev-page" onclick="changePage('DRESS', currentPage['DRESS'] - 1)">이전</button>
        <span id="DRESS-page-numbers"></span>
        <button class="next-page" onclick="changePage('DRESS', currentPage['DRESS'] + 1)">다음</button>
    </div>
</div>

<div th:insert="footer :: footer-content"></div>
<script src="/js/basic.js"></script>
<script src="/js/header.js"></script>
<script src="/js/shop.js"></script>
</body>
</html>
